@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import MapLibre GL CSS */
@import 'maplibre-gl/dist/maplibre-gl.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}
